/*font-family: "Open Sans", sans-serif;*/

body {

    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #2cafb9;

}

header {

    /* background-color: #2cafb9; */
    background-color:white;
    padding: 16px 0;

}


header h1 {

    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}

nav {

    background-color: #6da9ed;
    margin-bottom: 20px;

}

nav ul {

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

nav ul li {

    flex-grow: 1;
}


/*Inicio Contacto*/

.bodycontacto {

    background: rgb(58, 154, 160);
}


.contacto {

    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;

}


h2 {
    text-align: center;
}

.contenedorcontacto {

    background: #b2b2b9;
    width: 450px;
    height: 400px;
    border-radius: 5%;
    align-items: center;
    box-shadow: 0 0 80px white;
    padding-bottom: 4px;
}

.formulario p {
    padding-left: 40px;

}

.formulario p label {
    min-width: 80px;
    display: flex;
    align-items: right;
    padding-left: 40px;
}

.formulario p input,
.formulario p textarea {

    border-radius: 5px;
    border: 1px solid #999;
    font-size: 14px;
    padding: 6px 10px;
    width: 70%;

}

.formulario textarea {
    resize: none;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #999;
}

.formulario p:nth-child(4) {
    align-items: start;
    padding-left: 40px;

}


.formulario input[type="submit"] {

    width: 60px;
}

.formulario input[type="submit"]:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.direccion ul li {
    padding: 8px;
}

.imagenredes {

    width: 30px;

}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}