  p {
    font-family: "Micro 5 Charted", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgb(213, 44, 44);
    columns: 3;
    column-gap: 30px;
    padding: 100px;
  }

  .bordes {
    border: red 5px solid;
  }

  .sombreado {
    box-shadow: 6px 20px 10px black;

  }