<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <ul>
    <li><a href="/primerruta">primer ruta</a></li>
    <li><a href="/segundaruta">segunda ruta</a></li>
    <li><a href="/tercerruta">tercer ruta</a></li>
    <li><a href="/uno">manejadoruno</a></li>
    <li><a href="/dos">manejadordos</a></li>
    <li><a href="/tres">manejadortres</a></li>
  </ul>


  {{{body}}}
</body>

</html>